name: flutter_split_navigator
description: "A Flutter widget that creates a split view layout, showing two panels side-by-side on wider screens and a single panel on narrower screens."
version: 1.0.0
repository: https://github.com/dyno-nexsoft/flutter_split_navigator

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints:
